name: Build-and-Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
jobs:
  build:
    env:
      configuration : release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v2
      - name: Setup .Net
        uses: actions/setup-dotnet@v1
        with:
           dotnet-version: 6.0.x
      - name: Restore Nugets
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration ${{ env.configuration }}
      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration ${{ env.configuration }}
      - name: Publish
        run: dotent publish --configuration ${{ env.configuration }} --output ${{runner.temp}}/artifact
      - name: Upload the artifacts
        uses: actions/upload-artifact@2.2.4
        with:
          name: Publish
          path: ${{runner.temp}}/artifact
             
            
